$cell-border: 1px solid #f2f2f2;

& {
	display: flex;
	align-items: baseline;
	width: 100 / 3 * 1%;
	border-top: $cell-border;
	border-right: $cell-border;

	&:nth-last-child(-n + 3) {
		border-bottom: $cell-border;
	}

	&:nth-child(3n - 2) {
		border-left: $cell-border;
	}
}
span {
	flex: 1;
	display: flex;
	align-items: center;

	&.number {
		color: black;
		font-size: 24px;
		justify-content: flex-end;
		padding-right: 3px;
	}
	&.alphabets {
		color: #bbbbbb;
		font-size: 10px;
		padding-left: 3px;
	}
}
